.no-bdr {
	@extend .border-0;
}
.no-bdr-t {
	@extend .border-top-0;
}
.no-bdr-b {
	@extend .border-bottom-0;
}
.no-bdr-l {
	@extend .border-left-0;
}
.no-bdr-r {
	@extend .border-right-0;
}
.no-bdr-x {
	@extend .border-right-0;
	@extend .border-left-0;
}
.no-bdr-y {
	@extend .border-top-0;
	@extend .border-bottom-0;
}
.ml-6{
  margin-left: 6rem;
}
.ml-7{
  margin-left: 9rem;
}
.ml-8{
  margin-left: 6rem;
}
.ml-9{
  margin-left: 6rem;
}
.ml-10{
  margin-left: 12rem;
}
.border-table-item{
	position: absolute;
	top: 0%;
	left: 60%;
	overflow: hidden;
	width: 1px;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid $border-light;
}
.max-w-200{
	max-width: 200px;
}

.MILESTONE .bar{
	fill: #34C759 !important;
	opacity: 0.5;
}
.PHASE .bar{
	fill: #FF9500 !important;
	opacity: 0.5;
}
.TASK .bar{
	fill: #007AFF !important;
	opacity: 0.5;
}
.DURATION .bar{
	fill: #f5deab !important;
	opacity: 0.5;
}

.MILESTONE .bar-progress{
	fill: #34C759 !important;
}
.PHASE .bar-progress{
	fill: #FF9500 !important;
}
.TASK .bar-progress{
	fill: #007AFF !important;
}
.DURATION .bar-progress{
	fill: #f5deab !important;
}

.cursor-pointer{
	cursor: pointer;
}

.loading-spinner{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(#101924, 0.1);
}

.loading-enter {
  opacity: 0;
}
.loading-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.loading-exit {
  opacity: 1;
}
.loading-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.flag {
	width: 24px;
}

.display-text-group {
  width: 100%;
  display: flex;
}

.text-display-group:after {
  content: "";
  display: block;
  clear: both;
}

.text-display-group {
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.read-more-button {
  display: inline-block;
  margin-left: 3px;
  color: $base-color;
  cursor: pointer;
}

.read-more-button:hover {
  color: #364a63;
}