.no-bdr {
	@extend .border-0;
}
.no-bdr-t {
	@extend .border-top-0;
}
.no-bdr-b {
	@extend .border-bottom-0;
}
.no-bdr-l {
	@extend .border-left-0;
}
.no-bdr-r {
	@extend .border-right-0;
}
.no-bdr-x {
	@extend .border-right-0;
	@extend .border-left-0;
}
.no-bdr-y {
	@extend .border-top-0;
	@extend .border-bottom-0;
}
.ml-6{
  margin-left: 6rem;
}
.ml-7{
  margin-left: 9rem;
}
.ml-8{
  margin-left: 6rem;
}
.ml-9{
  margin-left: 6rem;
}
.ml-10{
  margin-left: 12rem;
}
.border-table-item{
	position: absolute;
	top: 0%;
	left: 60%;
	overflow: hidden;
	width: 1px;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid $border-light;
}
.max-w-200{
	max-width: 200px;
}