@import-normalize ;

@import 'tailwind-base.css';
/* @import './font/Poppins-Bold.ttf'; */

body.no-animate *,
body.no-animate *::before,
body.no-animate *::after {
    transition: none !important;
    animation: none !important;
}

html {
    font-size: 62.5%;
    background-color: #121212;
    font-family: Muli, Roboto, Helvetica Neue, Arial, sans-serif;
}
.MuiTableCell-root{
    padding: 9px;
}
/* label {
 font-size: 14px;
 font-family: Muli, Roboto, Helvetica Neue, Arial, sans-serif;
} */
body {
    font-size: 14px;
    line-height: 1.4;
}
/* .Button{

} */
.filter{
    font-weight: bold;
}
html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
}
.ant-table-measure-row{
    display: none;
}
h1, .h1 {
    font-size: 24px;
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 16px;
}

h4, .h4 {
    font-size: 15px;
}

h5, .h5 {
    font-size: 13px;
}

h6, .h6 {
    font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
    z-index: 99;
}

a[role=button] {
    text-decoration: none;
}

[role="tooltip"] {
    z-index: 9999;
}
.TASK .bar{
    fill: #108ee9 !important;
}
.MILESTONE .bar{
    fill: #87d068 !important;
}
.PHASE .bar{
    fill: #f50 !important;
}
.DURATION .bar{
    fill: #f5deab !important;
}
.PHASE .bar-progress{
    fill: #f0f7f7 !important;
    opacity: 0.5;
}
.MILESTONE .bar-progress{
    fill: #f0f7f7 !important;
    opacity: 0.5;
}
.TASK .bar-progress{
    fill: #f0f7f7 !important;
    opacity: 0.5;
}
.DURATION .bar-progress{
    fill: #f0f7f7 !important;
    opacity: 0.5;
}
.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: none;
}
.table-row-light {
    background-color: #ffffff;
}
.table-row-dark {
    background-color: #fff7e6;
}
/* .gantt .bar-wrapper {
    pointer-events: none;
} */
/* Medium Devices, Desktops Only */
@media only screen and (min-width: 992px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar:hover {
        width: 8px;
        height: 8px;
        background-color: rgba(0, 0, 0, 0.06);
    }

    ::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:active {
        border-radius: 20px;
    }
}
.ant-table-cell .ant-input {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.ant-table-cell .ant-input:focus {
    border: none;
    box-shadow: none;
    background-color: transparent;
}
form label {
    z-index: 99;
}
.readOnly
{
	pointer-events: none;
}
thead[class*="ant-table-thead"] th{
    background-color: #f0f7f7 !important;
  }
.ant-table-tbody > tr > td{    
    padding: 9px !important;
}
.ant-drawer-body {
    padding: 10px 20px !important;
}

@keyframes autofill {
    0%,100% {
        background: transparent;
    }
}
input:-webkit-autofill {
    animation-delay: 1s;
    animation-name: autofill!important;
    animation-fill-mode: both;
    -webkit-box-shadow:0 0 0 100px transparent inset!important;
}

:focus {
    outline-color: transparent;
}

@import 'print.css';

@import 'tables.css';

@import 'prism.css';

@import 'tailwind.css';
