@import'../../../styles/variable';
.ant-tooltip-inner{
    background-color: $primary-page !important;
}
.button__create{
    width: $button-md;
    height:$button-height;
}
.button__form{
    width: $button-small;
    height: $button-height;
}
.button__cancle{
    width: $button-cancle;
    height: $button-height;
}
.button__create--group{
    width: $button-lg;
    height: $button-height;
}
.btn--primary{
    width: $button-primary;
    height:$button-height;
    background-color: #f3f4f6;
    color: $primary-page;
    border-radius: 4px;
}
.govern{
    height: 100vh;
    overflow: hidden;
    background-color: $white;
    &__header{
        width: 100%;
        height: 80px;
        display: flex;
        background-color: $white;
        justify-content: space-between;
        align-items: center;
        position: relative;
        box-shadow: 0 2px 8px 0 rgba(9, 30, 66, 0.08);
        &--action{
            display: flex;
            align-items: center;
            .input__search{
                margin-right: 10px;
            }
            .ant-input-search .ant-input:hover, .ant-input-search .ant-input:focus{
                border-color: $border-ant-input;
                box-shadow: 0 0 5px 0 $border-ant-input!important
            }
            .ant-input{
                border-radius: 4px;
                border: 1px solid #d0d4db;
                padding: 4px 12px;
                color: #172b4d;
                &:focus{
                    border-color: $border-ant-input;
                    box-shadow: 0 0 5px 0 $border-ant-input!important
                }
                &:hover{
                    border-color: $border-ant-input;
                    box-shadow: 0 0 5px 0 $border-ant-input!important
                }
        
            }
            .button__create{
                width: $button-md;
                height:$button-height;
            }
            .button__create--group{
                width: $button-lg;
                height: $button-height;
            }
            .button--closepage{
                background-color: $primary-page;
                color: $white;
            }
        }
    }
    &__content{
        height: calc(100vh - 175px);
        overflow-x: hidden;
        overflow-y: auto;
        &--table{
            thead[class*="ant-table-thead"] th{
                background-color: $backgroud-table !important;
              }
            .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
                width: 0px;
            }
            th.ant-table-cell{
                font-size: 13px;
                font-weight: 600;
                color: $primary-page;
            }
        }
        .modify-govern{
            padding: 24px 15px;
            width: 692px;
            margin: 0 auto;
        }
        &--view{
            padding: 24px 15px;
            max-width: 692px;
            margin: 0 auto;
            .title__view{
                font-size: 17px;
                text-transform: uppercase;
            }
           .ant-tag{
               color: #172b4d;
               border-radius: 4px;
               background-color: $backgroud-table;
           }
        }
    }
    &__radio{
        width:16px;
        height: 16px;
        border-radius: 2px;
    }
    &__radio--button{
        width:16px;
        height: 16px;
        border-radius: 2px;
        // margin: 0 auto;
    }
    .action--button{
        display: flex;
        justify-content: center;
        width: 24px;
        height: 24px;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        transition: .4s;
        &:hover{
            background-color: $primary-page;
            color: $white;
        }
    }
}

.control-booking-time{
    width: 100%;
    height: 100px;
    padding: 20px ;
    margin-bottom: 40px;
    background-color: rgb(250, 250, 250);
}

.label--form{
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 10px;
}
