@import'../../styles/variable';
.label--radio-button{
    font-size: 16px;
}
.form-item-input{
    .ant-input{
        border-radius: 4px;
        border: 1px solid #d0d4db;
        padding: 4px 12px;
        color: #172b4d;
        &:focus{
            border-color: $border-ant-input;
            box-shadow: 0 0 5px 0 $border-ant-input!important
        }
        &:hover{
            border-color: $border-ant-input;
            box-shadow: 0 0 5px 0 $border-ant-input!important
        }

    }
    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-color: $border-ant-input;
    }
    .ant-select:hover{
        border-color: $border-ant-input;

    }
    .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
        border-color: $border-ant-input;
    }
    .ant-select-selector {
        border-radius: 4px !important;
        border: 1px solid #d0d4db;
        padding: 4px 12px;
        color: #172b4d;
        &:focus{
            border-color: $border-ant-input;
            box-shadow: 0 0 5px 0 $border-ant-input!important
        }
        &:hover{
            border-color: $border-ant-input;
            box-shadow: 0 0 5px 0 $border-ant-input!important
        }
    }
    .radio-color-group{
        .ant-radio-button-wrapper{
            height: 24px;
            width: 24px;
            padding: 0;
            margin-right: 16px;
            border: none;
            border-radius: 2px;
        }
        .ant-radio-button-wrapper-checked{
            border-radius: 2px;
            border: 2px solid #006565;
            top: 2px;
        }
        .ant-radio-button-wrapper:not(:first-child)::before {
            width: 0px;
        }
        .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
            border-right-color: #006565;
        }
    }
    .ant-cascader-picker:focus .ant-cascader-input {
        border-color: $border-ant-input !important;
        box-shadow: 0 0 5px 0 $border-ant-input!important
    }
    .ant-cascader-picker-label:hover + .ant-cascader-input:not(.ant-cascader-picker-disabled .ant-cascader-picker-label:hover + .ant-cascader-input) {
        border-color: $border-ant-input !important;
        box-shadow: 0 0 5px 0 $border-ant-input!important
    }
    .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled), .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
        font-weight: 100 !important;
    }
    .ant-picker:hover, .ant-picker-focused {
        border-color: $border-ant-input;
        border-right-width: 1px !important;
        box-shadow: 0 0 5px 0 $border-ant-input!important
    }
    .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
        border-color: $border-ant-input !important;
    }
    .ant-picker{
        border-radius: 4px;
    }
}